/venv/*
*.DS_Store
/dataset/photos/*
/dataset/photos_108/*
/dataset/photos_108_old/*
/dataset/photos_old/*
/dataset/snakes_reptiles.npy
/dataset/photos_108.zip
/report/.texpadtmp/*
/proposal/.texpadtmp/*
/tests/*
.vscode/*